@font-face{
    font-family: "Bebas Neue", sans-serif;
    src: url(Fonts/BebasNeue-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.veil{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 150;
}

.veil::before{

    content: "";
    background-color: #191919;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 50;
    filter: opacity(.9);

}


.banner{
    
    color: #FFFFFF;
    position: absolute;
    height: 50%;
    width: 50%;

    top: 50%;
    left: 50%;

    padding: 0 5%;

    transform: translate(-50% , -50%);
    background-color: #191919;

    z-index: 130;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    font-family: "Bebas Neue", sans-serif;
}

.banner__titulo{
    text-transform:uppercase;
    font-size: 2em;
    
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

.options{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    
}

.btn-si , .btn-no{

    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    background-color: #101010;
    color: #FFFFFF;
    width: 28%;
    height: 200%;
    border: none;
    font-weight: 400;

    &:active{
        background-color: #9cda17;
    }
}

.banner__texto{
    position: absolute;
    bottom: 10px;
    background-color: #ffffff70;
    padding: 0 10px;
    font-weight: 500;
    border-radius: 2px;
}



.welcome__video{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    z-index: -1;
    
}

.mutear{
    position: absolute;
    z-index: 90;
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0; bottom: 0;
    margin: auto;
}