@font-face {
    font-family: 'Bebas N';
    src: url('../Fonts/Bebas_Neue/BebasNeue-Regular.ttf')format("woff");
}
@font-face {
    font-family: 'Montserrat';
    src: url('../Fonts/Montserrat/Montserrat-Regular.woff2')format("woff");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 200vh;
    width: 100vw;
    overflow: hidden;
    
}

*::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}


.veil{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 150;
}

.veil::before{

    content: "";
    background-color: #0c0c0c;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 50;
    filter: opacity(.9);

}


.banner{
    
    color: #FFFFFF;
    position: absolute;
    height: 50%;
    width: 50%;

    top: 50%;
    left: 50%;

    padding: 0 5%;

    transform: translate(-50% , -50%);
    background-color: #000000;

    z-index: 130;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    font-family: 'Bebas N';
}

.banner__titulo{
    text-transform:uppercase;
    font-size: 2em;
    
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

.options{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    
}

.btn-si , .btn-no{
    font-size: 18px;
    background-color: #101010;
    color: #FFFFFF;
    width: 35%;
    height: 200%;
    border: none;
    font-weight: 400;

    font-family: 'Bebas N';

    &:active{
        background-color: #9cda17;
    }
}

.welcome__video{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    z-index: 100;
}

.video__end{
    animation: dispel 1s  forwards ease-out;
}

/*--------------------------ANIMATION VIDEO--------------------------*/

@keyframes dispel {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        z-index: -1;  
    }
}


.mutear{
    position: absolute;
    z-index: 90;
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0; bottom: 0;
    margin: auto;
}

/*--------------------------HOME--------------------------*/

.home{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 100vh;
    width: 100vw;

    padding: 0 2%;
    background-color: #e1e1e1;
    
}

.home__logo{
    width: 43%;
}

/*--------------------------Instructions--------------------------*/

.info{
    height: 100vh;
    width: 100vw;
    background-color: #000000;

    display: flex;
    flex-direction: column;

    color: #e1e1e1;
    padding: 3% 6%;
}

.info__title{
    font-size: 4em;
    font-family: 'Bebas N';
}

.info__description , .instruction__text{
    font-size: 2em;
    font-family: 'Montserrat';
}

.instruction{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    margin: 1% 0;
}

.intruction__number{
    font-family:'Bebas N';
    font-size: 7.8em;
}

.continue{
    
    background-color: #DAFE41;
    color: #101010;

    text-decoration: none;
    font-family: 'Bebas N';
    font-size: 2em;
    
    height: 45px;
    width:15%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left: 80vw;
    top: 190vh;

    &:hover{
        background-color: #BBE225;
    }
    &::before{
        content: '<<';
    }
    &::after{
        content: '>>';
    }
}


@media  screen and (min-width:225px) and (max-width:762px) {

    .welcome__video{
        display: none;
    }

    .banner{
        height: 70%;
        width: 70%;
        top: 50%;
        left: 50%;
        padding: 0 5%;
        gap: 5%;
    }
    
    .banner__titulo{
        font-size: 1.8em;
    }

    .banner__paragraph{
        font-size: 0.8em;
        letter-spacing: 1px;
        font-family: 'Montserrat';
    }
    
    .options{
        margin-top: 10%;
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        
    }
    
    .btn-si , .btn-no{
        font-size: 1em;
        width: 50%;
        font-weight: 100;
    }
    
    .welcome__video{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-size: cover;
        object-fit: cover;
        z-index: 100;
    }
    
    .home__logo{
        width: 100%;
    }
    .info{
        height: 100vh;
        background-color: #000000;
        font-size: 0.5em;
        padding: 5% 8%; 
    }

    .info__title{
        margin: 5% 0;
        font-size: 6em;
    }
    .info__description{
        margin: 5% 0;
    }
    .instruction{
        margin: 4% 0;
    }

    .continue{
        width: 40%;
        left: 50vw;
    }
}